<% extend('layout') %>
<% if (!currentUser) { %>
    <h1>Sign in to post a message</h1>
 <% } else { %>
<form action="" method="POST"  class="centerAlignContent">
    <div class="formGroup">
        <textarea type="textarea" name="text" maxlength="1000" placeholder="What's on your mind?"><%= message ? message.text : '' %></textarea>
    </div>
    <input hidden="true" name="userId" value="<%= currentUser._id%>">
    <button type="submit" id="postBtn">Post</button>
</form>
<% if (errors) { %>
    <ul>
        <% errors.map((error)=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
    <% }} %>