<% extend('layout') %>

    <% if (currentUser) { %>
        </h5>
        <% } %>
            <% message_list.map(message=> { %>
                <div class="individualMessage">
                    <div class="messageHeader">
                        <% if (currentUser && currentUser.admin) { %>
                            <a href="/messages/<%= message._id %>/delete" class="alignRight greenText">
                                <i class="fa-solid fa-circle-xmark"></i>
                            </a>
                            <% } %>
                    </div>
                    <p>
                        <%- message.text %>
                    </p>
                    <div>
                        <time class=" alignRight greenText">
                            <%- message.postTime %>
                        </time>
                    </div>
                    <hr class="greyText">
                </div>
                <% }) %>