<% extend('layout') %>
<h2> <%- title %></h2>
    <form action="" method="POST"  class="centerAlignContent">
        <div class="formGroup">
            <label for="username">Username:</label>
            <input name="username" placeholder="username" type="text"/>
        </div>
        <div class="formGroup">
            <label for="password">Password:</label>
            <input name="password" type="password" />
        </div>
        <button type="submit">Log in</button>
    </form>
    <% if (errors) { %>
        <ul>
            <% errors.map((error)=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>