<% extend('layout') %>
<% if (!currentUser) { %>
    <h3>you need to log in to become an admin</h3>
<% } else { %>
    <h2> <%- title %></h2>
    <form action="" method="POST" class="centerAlignContent">
        <div class="formGroup">
            <label for="upgradeCode">User Upgrade Code:</label>
            <input name="upgradeCode" placeholder="****" type="number"/>
        </div>
        <button type="submit">Upgrade</button>
    </form>
    <ul>
        <li>
            0987 to become an admin
        </li>
    </ul>
    <% } %>
    <% if (errors) { %>
        <ul>
            <% errors.map((error)=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>