<% extend('layout') %>
<% if (currentUser) { %>
    <h3>Log out before creating a new user</h3>
<% } %>
<h2> <%- title %></h2>
    <form action="" method="POST" class="centerAlignContent">
        <div class="formGroup">
            <label for="username">Username:</label>
            <input name="username" placeholder="username" type="text" value="<%= undefined==userInfo ? '' : userInfo.username
                %>"/>
        </div>
        <div class="formGroup">
            <label for="password">Password:</label>
            <input name="password" type="password" />
        </div>
        <div class="formGroup">
            <label for="confirm_password">Confirm Password:</label>
            <input name="confirm_password" type="password" />
        </div>
            <button type="submit">Sign Up</button>
    </form>
    <% if (errors) { %>
        <ul>
            <% errors.map((error)=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>